.section-padding{
  padding-top: 60px;
  padding-bottom: 60px;
}

.is-dropdown-submenu-item{
  &:hover{
    background: lighten($peach, 10%);
  }
}

.tea{
  @include breakpoint(medium down){
    width: 150px;
    max-width: none;
  }
}

.button{
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.timeline-Header{
  background: $purple !important;
}

.content-list{
  margin-left: 40px;
}
