.section-padding{
  padding-top: 60px;
  padding-bottom: 60px;
}

.is-dropdown-submenu-item{
  &:hover{
    background: lighten($peach, 10%);
  }
}

.tea{
  @include breakpoint(medium down){
    width: 150px;
    max-width: none;
  }
}

.button{
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
}

.timeline-Header{
  background: $purple !important;
}

.content-list{
  margin-left: 40px;
}

.tea-cups{
  @media only screen and (max-width: 1324px){
    height: 360px;
  }
  background-image: url('../img/tea-cups.jpg');
  background-size: cover;
  background-position: top center;
  height: 335px;
  float: left;
}
.purple-row{
  background-color: $purple;
  float: left;
  @include breakpoint(large){
    height: 335px;
  }
  @media only screen and (max-width: 1324px){
    height: 360px !important;
  }
  @include breakpoint(small only){
    height: auto !important;
  }
}
