.section-padding{
  padding-top: 60px;
  padding-bottom: 60px;
}

.is-dropdown-submenu-item{
  &:hover{
    background: lighten($peach, 10%);
  }
}

.tea{
  @include breakpoint(medium down){
    width: 150px;
    max-width: none;
  }
}
