.header{
  width: 100%;
  background: rgba(147, 59, 106, 0.6);
  padding: 20px 0;
  position: relative;
  @include breakpoint(medium down){
    background: $purple;
  }

  &__logo{
    width: 270px;
    float: left;
    @include breakpoint(medium only){
      width: 180px;
    }
    @include breakpoint(small only){
      width: 180px;
    }
    @include breakpoint(large only){
      width: 150px;
    }
  }
}

.menu-icon{
  @include breakpoint(medium only){
    margin-top: 25px;
  }
  @include breakpoint(small only){
    margin-top: 20px;
  }
}
