.header{
  width: 100%;
  background: rgba(237, 191, 172, 0.4);
  padding: 20px 0;
  position: relative;

  &__logo{
    width: 270px;
    float: left;
    @include breakpoint(medium only){
      width: 220px;
    }
    @include breakpoint(small only){
      width: 180px;
    }
  }
}

.menu-icon{
  @include breakpoint(medium only){
    margin-top: 25px;
  }
  @include breakpoint(small only){
    margin-top: 20px;
  }
}
