.hero{
  overflow: auto;
  height: 500px;
  background: lighten($purple, 20%);

  &__content{
    margin-top: 200px;

    h1{
      font-family: 'Quicksand';
      font-weight: 700;
    }
  }

  &--home{
    background-image: url('../img/matcha.jpg');
    width: 100%;
    background-size: cover;
    margin-top: -125px;
  }
}
