<div class="header">
  <div class="row column">
    <img src="../assets/img/tea-girl-logo.png" class="header__logo">
    <nav class="main-nav">
      <ul class="main-nav__list">
        <li class="main-nav__list-item"><a class="main-nav__link" href="#">About</a></li>
        <li class="main-nav__list-item"><a class="main-nav__link" href="#">Our Tea</a></li>
        <li class="main-nav__list-item"><a class="main-nav__link" href="#">Tea-Ducation</a></li>
        <li class="main-nav__list-item"><a class="main-nav__link" href="#">Contact</a></li>
        <li class="main-nav__list-item"><a class="main-nav__link--cta button" href="#">Buy Tea</a></li>
      </ul>
    </nav>
  </div>
</div>
