<!-- off-canvas right menu -->
<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
  <a href="index.html">
    <img src="{{root}}assets/img/tea-girl-logo.png" class="header__logo">
  </a>
  <ul class="vertical dropdown menu" data-dropdown-menu>
    <li class="main-nav__list-item">
      <a href="index.html" class="main-nav__link">Home</a>
    </li>
    <li class="main-nav__list-item">
      <a href="about.html" class="main-nav__link">About Us</a>
    </li>
    <li class="main-nav__list-item">
      <a href="story.html" class="main-nav__link">The Tea Girl Story</a>
    </li>
    <li class="main-nav__list-item"><a class="main-nav__link" href="our-tea.html">Our Tea</a></li>
    <li class="main-nav__list-item">
      <a href="tea-ducation.html" class="main-nav__link">Tea Types</a>
    </li>
    <li class="main-nav__list-item">
      <a href="tea-tips.html" class="main-nav__link">Tea Tips</a>
    </li>
    <li class="main-nav__list-item"><a class="main-nav__link" href="contact.html">Contact</a></li>
    <li class="main-nav__list-item"><a class="main-nav__link" href="http://buytea.theteagirl.com">Buy Tea</a></li>
  </ul>
</div>

<!-- "wider" top-bar menu for 'medium' and up -->
<div id="widemenu" class="top-bar">
  <div class="header">
    <div class="row column">
      <div class="top-bar-left">
        <a href="index.html">
          <img src="{{root}}assets/img/tea-girl-logo.png" class="header__logo">
        </a>
      </div>
      <div class="top-bar-right">
        <nav class="main-nav clearfix">
          <ul class="main-nav__list dropdown menu" data-dropdown-menu>
            <li class="main-nav__list-item">
              <a class="main-nav__link" href="about.html">About</a>
              <ul class="menu">
                <li>
                  <a href="about.html">About Us</a>
                </li>
                <li>
                  <a href="story.html">the tea girl Story</a>
                </li>
              </ul>
            </li>
            <li class="main-nav__list-item"><a class="main-nav__link" href="our-tea.html">Our Tea</a></li>
            <li class="main-nav__list-item">
              <a class="main-nav__link" href="tea-ducation.html">Tea-Ducation</a>
              <ul class="menu">
                <li>
                  <a href="tea-ducation.html">Tea Types</a>
                </li>
                <li>
                  <a href="tea-tips.html">Tea Tips</a>
                </li>
              </ul>
            </li>
            <li class="main-nav__list-item"><a class="main-nav__link" href="contact.html">Contact</a></li>
            <li class="main-nav__list-item"><a class="main-nav__link--cta button" href="http://buytea.theteagirl.com">Buy Tea</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
